/* Contenedor general */
.container {
  text-align: center;
  padding: 40px;
}

/* Títulos */
h1 {
  font-weight: 600;
  letter-spacing: 1px;
}

/* Grid del menú */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

/* Cards estilo moderno */
.card {
  padding: 30px;
  border-radius: 14px;

  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(6px);
  cursor: pointer;

  transition: 0.25s ease;
  font-weight: 500;
}

/* Hover elegante */
.card:hover {
  transform: translateY(-6px);
  border: 1px solid #D4AF37;
  box-shadow: 0 12px 30px rgba(116, 113, 9, 0.739);
}

/* Inputs del login */
input {
  padding: 12px;
  width: 250px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  outline: none;
}

/* Botones */
button {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  background: #D4AF37;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #665314c0;
}